:root{
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EAEAEA;
  font-size: 1rem;
}

.contenido {
  margin: 3rem 5vw;
}

::selection {
  color: #161616;
  background-color: #cdefff;
}

/*SECTOR HEADER*/

header {
  max-width: 100%;
  padding: 1rem 5vw 0.6rem 5vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #EFEFEF;
  box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
}

.nav-logo img{
  width: 20%;
}

section{
  padding: 3rem 0;
}

/*SECCION PRINCIPAL*/

.seccion-titulo{ 
  font-family: 'Poppins', sans-serif, Helvetica;
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 600;
  margin: 1rem 0;
  text-align: left;
  color: #161616;
}

.slider {
  width: 100%;
  max-height: 80vh;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider-image{
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}

.next, .prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 1rem;
  color: #eaeaea;
  background-color: #161616;
  opacity: 0.6;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: #c5c1ba;
  background-color: #2d2d2d;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.content-box-3{
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background-color: #EFEFEF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo-slide{
  display: inline-block;
  white-space: nowrap;
  animation: 10s slide linear infinite;
}

.logo-slide img{ 
  width: 15%;
  margin: 0 2em;
  object-fit: contain;
  vertical-align: middle;
}

@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform:translateX(-50%);
  }
}

.medios-pago .content-box-4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20rem;
  background-image: url(/img/contenido/asd.jpg);
  background-size:cover;
  background-position: center;
  padding: 2rem 3rem;
  margin: 0;
  height: 25em;
  max-height: auto;
  border-radius: 1rem;
  background-color: #EFEFEF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.medios-pago .content-box-4{
  h3{
    font-family: 'Poppins', sans-serif, Helvetica;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3rem;
    color: #f3f3f3;
    margin: 1rem 0;
  }
}

.medios-pago .content-box-4{
  h4{
  font-family: 'Roboto', sans-serif, Helvetica;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  margin-top: 3rem;
  color: #eaeaea;
  }
}

.pay-column-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: flex-end;
  gap: 1rem;
}

.medios-pago .content-box-4 .pay-column-2 .logo-paymet {
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
  width: 40%;
  margin-bottom: 0.5rem;
  }
}

.medios-pago .content-box-4{
  h5{
  font-family: 'Poppins', sans-serif, Helvetica;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  color: #eaeaea;
  }
}

.sucursales{
  margin-left: -5vw; 
  margin-right: -5vw;
  width: calc(100% + 10vw);
  background-color: #e4e4e4;
}

.sucursales .seccion-titulo, h2{
  margin-left: 5vw;
  font-size: 2rem;
  text-align: center;
  color: #1f1f1f;
}

.sucursales .content-box-5{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 2rem 3rem;
}

.sucursales .content-box-5 .sucursal{
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 2px solid #c3c3c3;
  border-radius: 10px;
  padding: 1.5em 0;
  margin: 20px;
  text-align: left;
  h3{
  font-family: 'Poppins', sans-serif, Helvetica;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #303030;
  }
  p{
    font-family: 'Roboto', sans-serif, Helvetica;
    color: #1f1f1f;
  }
}

.sucursales .content-box-5 .sucursal .sucursal-ico{
   text-align: center;
}

.sucursales .content-box-5 .sucursal .sucursal-ico img{
  width: 35%;
}

.sucursales .content-box-5 .sucursal .sucursal-text{
  margin: 0;
}

/*SECTOR FOOTER*/

footer {
  width: 100%;
  padding: 5rem;
  background-color: #121212;
  color: #c5c1ba;
}

.footer-title{
  h3{
  font-family: 'Roboto', sans-serif, Helvetica;
  font-size: 1.3rem;
  font-weight: 900;
  color: #7a7a7a;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: flex;
  justify-content:center; 
  }
}

.footer-container{
  display: flex;
  flex-direction:row;
  justify-content:center; 
}

.footer__link{
  margin: 10px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #c5c1ba;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.footer__link h6{
  font-family: 'Roboto', sans-serif, Helvetica;
  font-size: 0.9rem;
  font-weight: 300;
  margin-left: 1rem;
}

.footer__icon {
  width: 1.8rem;
  margin: 10px;
  transition: 0.5s;
}

.footer__link:hover, .footer__item img:hover{
  opacity: 0.3;
  transform: scale(1.2);
}

.copyright{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.copyright {
  span{
  font-family: sans-serif, Helvetica;
  font-size: 0.9rem;
  color: #666;
  }
  img{
  margin: 10px;
  }
}

/*----------RESPONSIVE CON MEDIAQUERIES----------*/

@media (max-width: 600px){

section{
  padding: 0;
  margin: 5rem 0;
}

.contenido {
  margin: 2rem 7vw;
}

header{
  padding: 1rem 7vw 0.5rem 7vw;
  position: relative;
  z-index: 10;
} 

.nav-logo img{
  width: 40%;
}

.nav-bar{
  display: none;
  position: absolute;
}

.nav-bar.active {
  display: flex;
  flex-direction: column;
  background-color: #EFEFEF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 8px;
  padding: auto;
  top: 100%;
  right: 0;
  z-index: 20;
}

.nav-bar a{
  font-family: 'Poppins', sans-serif, Helvetica;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 2rem;
  text-align: left;
  text-decoration: none;
  color: #1f1f1f;
}

.next, .prev{
  cursor: none;
  font-size: 0.8rem;
}

.imagen-aboutus-desktop{
  display: none;
}

.aboutus{
  margin-left: -7vw;
  margin-right: -7vw;
  width: calc(100% + 14vw);
}

.aboutus h2{
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  margin-left: 7vw;
  padding: 0;
}

.aboutus .content-box-2{
  display: flex;
  flex-direction: column;
  padding: 0 7vw 7vw 7vw;
  border-radius: 0;
}

.aboutus .content-box-2 img{
  width: 100%;
  height: 30vh;
  border-radius: 1rem;
  margin: 0;
}

.contenido-oculto {
  display: none;
  animation: fadeIn 0.3s ease-in-out forwards;
}

.btn-toggle {
  background: none;
  border: none;
  color: #e7700d;
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 1.2rem;
  cursor: pointer;
  align-self: flex-start;
  padding: 0;
}

.btn-toggle:hover {
  text-decoration: underline;
}

.aboutus .content-box-2 .paragraph p{
  font-family: 'Roboto', sans-serif, Helvetica;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
  line-height: 2;
  text-align: left;
  color: #1f1f1f;
  span{
    color: #202020;
    font-weight: 800;
    cursor: pointer;
  }
}

.aboutus .content-box-2 .contenido-oculto p{
  font-family: 'Roboto', sans-serif, Helvetica;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 2;
  text-align: left;
  color: #1f1f1f;
  span{
    color: #202020;
    font-weight: 800;
    cursor: pointer;
  }
}

.marcas h2{
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  padding: 0;
}

.content-box-3{
  padding: 1rem 1rem;
}

.logo-slide img{ 
  width: 12%;
}

.medios-pago .content-box-4{
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  padding: 1rem;
  margin: 0;
  height: 15em;
}

.medios-pago h2{
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  padding: 0;
}

.medios-pago .content-box-4{
  h3{
    font-size: 1.6rem;
    font-weight: 800;
    line-height: 2rem;
    margin: 0.8rem 0;
  }
}

.medios-pago .content-box-4{
  h4{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  line-height: 1.5rem;
  }
}

.pay-column-2{
  gap: 1rem;
}

.medios-pago .content-box-4 .pay-column-2 .logo-paymet {
  img{
  width: 30%;
  margin-bottom: 0.3rem;
  }
}

.medios-pago .content-box-4{
  padding: 1rem;
  h5{
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1rem;
  }
}

.sucursales .seccion-titulo, h2{
  margin: 0;
  padding: 1.5rem 1rem 1rem 1rem;
  font-size: 1.7rem;
}

.sucursales .content-box-5{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 1rem 2rem;
}

.sucursales .content-box-5 .sucursal{
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 2px solid #c3c3c3;
  border-radius: 10px;
  padding: 1.5em 0;
  margin: 1rem 0;
  text-align: left;
  h3{
  font-family: 'Poppins', sans-serif, Helvetica;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #303030;
  }
  p{
    font-family: 'Roboto', sans-serif, Helvetica;
    font-size: 1.2rem;
    color: #1f1f1f;
  }
}

.sucursales .content-box-5 .sucursal .sucursal-ico{
   text-align: center;
}

.sucursales .content-box-5 .sucursal .sucursal-ico img{
  width: 35%;
}

.sucursales .content-box-5 .sucursal .sucursal-text{
  margin: 0;
}

footer {
  padding: 3rem;
}

.footer-title{
  h3{
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  }
}

.footer-container{
  display: flex;
  flex-direction:row;
  justify-content:center; 
}

.footer__link-mobile svg{
  margin: 1.5rem 1.5rem;
}

.footer__link{
  display: none;
}

.footer__link svg{
  display: none;
}

.footer__link:hover, .footer__item svg:hover{
  display: none;
}

.copyright{
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.copyright {
  span{
  font-size: 0.9rem;
  color: #666;
  }
  img{
  margin: 10px;
  }
  }
}


@media (min-width: 650px){

#menu{
  display: none;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.nav-bar a{
  font-family: 'Poppins', sans-serif, Helvetica;
  font-weight: 500;
  padding: 0.5rem;
  text-decoration: none;
  text-wrap: nowrap;
  color: #1f1f1f;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.nav-bar a:hover {
  background-color: none;
  color: #e7700d; /*#e47d1d;*/
  border-bottom: 3px solid #e7700d;
}

.imagen-aboutus-mobile{
  display: none;
}

.aboutus .content-box-2{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-wrap: break-word; 
  word-wrap: break-word;        
  box-sizing: border-box;
  margin: 0;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #EFEFEF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.aboutus .content-box-2 img{
  width: 30%;
  height: auto;
  opacity: 0.9;
  border-radius: 1em;
}

.aboutus .content-box-2 .contenido-oculto p{
  display: block;
  font-family: 'Roboto', sans-serif, Helvetica;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  margin: 0 0 1em 2em;
  color: #1f1f1f;
  span{
    color: #202020;
    font-weight: 600;
    cursor: pointer;
  }
}

.aboutus .content-box-2 .paragraph p{
  font-family: 'Roboto', sans-serif, Helvetica;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: left;
  color: #1f1f1f;
  span{
    color: #272727;
    font-weight: 600;
    cursor: pointer;
  }
}

.btn-toggle {
  display: none;
}

.content-box-5-mobile{
  display: none;
}

.footer__link-mobile{
  display: none;
  }
}