@font-face {
  font-family: 'Manrope';
  src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
}

:root{
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EAEAEA;
  font-size: 1rem;
  padding-top: 1rem;
}

.contenido {
  margin: 1rem 5vw;
}

/*SECTOR HEADER*/

header {
  max-width: 100%;
  padding: 0.5rem 5vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  /*top: 0;
  position: sticky;*/
  background-color: #EFEFEF;
  /*border-bottom: 3px solid #b8b8b8;*/
  box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
}

.nav-logo img{
  width: 20%;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.nav-bar a{
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  text-wrap: nowrap;
  color: #131313;
  border-radius: 24px;
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.nav-bar a:hover {
  background-color: none;
  color: #e7700d; /*#e47d1d;*/
}

/*SECCION PRINCIPAL*/

.content-box-1, .content-box-2, .content-box-3, .content-box-4, .content-box-5{
  overflow-wrap: break-word; 
  word-wrap: break-word;        
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  border-radius: 12px;
  background-color: #EFEFEF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.seccion-titulo{ 
  padding: 1rem 0;
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 700;
  text-align: left;
  color: #131313;
}

.slider .content-box-1 img {
  width: 100%;
  height: auto;
}

.aboutus .content-box-2{
  display: flex;
  flex-direction: row;
  img{
    width: 30%;
    height: auto;
    border-radius: 1em;
  }
}

.aboutus .content-box-2 .paragraph p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  text-align: left;
  margin: 0 0 1em 1em;
  color: #161616;
  span{
    color: #e7700d;
    font-weight: 600;
    cursor: pointer;
  }
}

.content-box-3{
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.logo-slide{
  display: inline-block;
  white-space: nowrap;
  animation: 10s slide linear infinite;
}

.logo-slide img{ 
  width: 15%;
  margin: 0 2em;
  object-fit: contain;
  vertical-align: middle;
}

@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform:translateX(-50%);
  }
}

.medios-pago .content-box-5{
  background-image: url(/img/contenido/pintando.jpg);
  background-size: auto;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  h3{
    font-size: 2.5rem;
    font-weight: 800;
    color: #f3f3f3;
    margin: 1rem 0;
  }
  h4{
    font-size: 2rem;
    font-weight: 600;
    color: #eaeaea;
  }
  h5{
    font-size: 1rem;
    font-weight: 600;
    color: #eaeaea;
  }
}

.medios-pago .content-box-5 .pay-column-1{
  display: flex;
  flex-direction: column;
}

.medios-pago .content-box-5 .pay-column-2{
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
}

.paymet-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.medios-pago .content-box-5 .logo-paymet {
  img{
  object-fit: contain;
  width: 60%;
  }
}

.sucursales .content-box-4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid #161616;
}

.sucursales .content-box-4 .sucursal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid #8d8d8d;
  border-radius: 10px;
  padding: 1.5em 0;
  margin: 20px;
  text-align: left;
  h3{
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  }
  p{
    color: #2d2d2d;
  }
}

.sucursales .content-box-4 .sucursal .sucursal-text{
  margin: 0 1rem;
}

/*SECTOR FOOTER*/

footer {
  width: 100%;
  padding: 50px;
  background-color: #121212;
  color: #c5c1ba;
}

.footer-title{
  h3{
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: flex;
  justify-content:center; 
  }
}

.footer-container{
  display: flex;
  flex-direction:row;
  justify-content:center; 
}

.footer__link{
  margin: 10px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  text-decoration: none;
  color: #c5c1ba;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.footer__icon {
  width: 1.8rem;
  margin: 10px;
  transition: 0.5s;
}

.footer__link:hover, .footer__item img:hover{
  opacity: 0.3;
  transform: scale(1.2);
}

.copyright{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.copyright {
  span{
  font-size: 0.9rem;
  color: #666;
  }
  img{
  margin: 10px;
  }
}

/*DISEÑO RESPONSIVE CON MEDIAQUERIES*/

@media (max-width: 600px){
  header{
  width: 100%;
  padding: 1rem 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  top: 0;
  position: sticky;
  background-color: #eee;
  /*border-bottom: 3px solid #b8b8b8;*/
  box-shadow: #32325d40 0px 2px 5px -1px, #0000004d 0px 1px 3px -1px;
  }

.nav-logo{
  img{
  width: 100%;
  }
} 

.nav-bar{
  display: none;
  }

.nav-bar a{
  /*font-weight: 600;
  padding: 10px;
  text-decoration: none;
  color: #131313;
  border-radius: 24px;
  transition-property: background-color, color;
  transition-duration: 0.8s;*/
  display: none;
  }
.nav-bar a:hover {
  background-color: #e7700d; /*#e47d1d;*/
  color: #eeef;
  }

  footer {
  padding: 1.5rem;
}

.footer-title{
  h3{
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content:flex-start; 
  }
}

.footer-container{
  display: flex;
  flex-direction:column;
  justify-content:center; 
}

.footer__link{
  margin: 10px 0 10px 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-decoration: none;
  color: #c5c1ba;
}

.footer__icon {
  width: 30px;
  margin: 10px 10px 10px 0;
  transition: 0.5s;
}

.footer__link:hover, .footer__item img:hover{
  display: none;
}

.copyright{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.copyright {
  span{
  font-size: 0.9rem;
  color: #666;
  }
  img{
  margin: 10px;
  }
  }
}